.google {
  background-image: url("../../assets//management/googleads.png");
  width: 100%;
  min-height: 1232px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 131px;
}
@media only screen and (max-width: 992px) {
  .google {
    min-height: 964px;
  }
}
@media only screen and (max-width: 428px) {
  .google {
    min-height: 835px;
    background-image: url("../../assets//management//socialmediabackground1.png");
    padding-top: 110px;
  }
}
@media only screen and (max-width: 428px) {
  .google {
    padding-top: 80px;
  }
}
.google .container {
  max-width: 1520px;
}
.google .container .google-ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .google .container .google-ads {
    flex-direction: column;
    text-align: center;
  }
}
.google .container .google-ads .google-left {
  width: 100%;
  height: 100%;
  max-width: 745px;
  min-height: 759px;
  background-image: url("../../assets/management/googlemobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 99%;
}
@media only screen and (max-width: 1487px) {
  .google .container .google-ads .google-left {
    max-width: 600px;
    min-height: 614px;
  }
}
@media only screen and (max-width: 1040px) {
  .google .container .google-ads .google-left {
    max-width: 466px;
    min-height: 480px;
  }
}
@media only screen and (max-width: 992px) {
  .google .container .google-ads .google-left {
    max-width: 396px;
    min-height: 396px;
  }
}
.google .container .google-ads .google-right {
  max-width: 732px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .google .container .google-ads .google-right {
    padding-top: 41px;
  }
}
@media only screen and (max-width: 428px) {
  .google .container .google-ads .google-right {
    padding-left: 34px;
  }
}
.google .container .google-ads .google-right h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 97.5%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: right;
}
@media only screen and (max-width: 1356px) {
  .google .container .google-ads .google-right h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 992px) {
  .google .container .google-ads .google-right h2 {
    font-size: 43px;
    text-align: center;
    line-height: 97.5%;
  }
}
@media only screen and (max-width: 428px) {
  .google .container .google-ads .google-right h2 {
    text-align: left;
    font-size: 43px;
  }
}
.google .container .google-ads .google-right h1 {
  font-size: 120px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: right;
  line-height: 89.177%;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1356px) {
  .google .container .google-ads .google-right h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 992px) {
  .google .container .google-ads .google-right h1 {
    font-size: 58px;
    text-align: center;
  }
}
@media only screen and (max-width: 428px) {
  .google .container .google-ads .google-right h1 {
    text-align: left;
    font-size: 58px;
  }
}

.search {
  background: linear-gradient(270deg, #FFF -1.44%, #D8D8D8 98.26%);
  width: 100%;
  min-height: 933px;
}
@media only screen and (max-width: 992px) {
  .search {
    min-height: 851px;
  }
}
.search .search-section2-wrapper {
  max-width: 1510px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper {
    flex-direction: column;
  }
}
.search .search-section2-wrapper .section2-left {
  width: 60%;
}
@media only screen and (max-width: 1440px) {
  .search .search-section2-wrapper .section2-left {
    width: 50%;
  }
}
@media only screen and (max-width: 1440px) {
  .search .search-section2-wrapper .section2-left {
    width: 100%;
  }
}
.search .search-section2-wrapper .section2-left .section2-text {
  max-width: 744px;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
  margin-top: 70px;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-left .section2-text {
    margin-top: 41px;
  }
}
@media only screen and (max-width: 992px) {
  .search .search-section2-wrapper .section2-left .section2-text {
    max-width: 100%;
  }
}
@media only screen and (max-width: 428px) {
  .search .search-section2-wrapper .section2-left .section2-text {
    margin-top: 28px;
  }
}
.search .search-section2-wrapper .section2-left .section2-text h2 {
  background: rgba(255, 255, 255, 0.06);
  filter: blur(4.2073168755px);
  color: #27303F;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5%;
  letter-spacing: 1.2px;
  margin: 0;
}
@media only screen and (max-width: 1100px) {
  .search .search-section2-wrapper .section2-left .section2-text h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-left .section2-text h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .search .search-section2-wrapper .section2-left .section2-text h2 {
    font-size: 49.51px;
  }
}
@media only screen and (max-width: 428px) {
  .search .search-section2-wrapper .section2-left .section2-text h2 {
    font-size: 60.508px;
  }
}
.search .search-section2-wrapper .section2-left .section2-text h1 {
  color: #27303F;
  font-family: "Poppins", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5%;
  letter-spacing: 1.8px;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-left .section2-text h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 1300px) {
  .search .search-section2-wrapper .section2-left .section2-text h1 {
    font-size: 105px;
  }
}
@media only screen and (max-width: 1100px) {
  .search .search-section2-wrapper .section2-left .section2-text h1 {
    font-size: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .search .search-section2-wrapper .section2-left .section2-text h1 {
    font-size: 100px;
    font-size: 61.508px;
  }
}
@media only screen and (max-width: 428px) {
  .search .search-section2-wrapper .section2-left .section2-text h1 {
    font-size: 67px;
  }
}
.search .search-section2-wrapper .section2-left .section2-text p {
  color: #27303F;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  padding-top: 64px;
  line-height: 25.928px;
  display: flex;
  min-height: 260px;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-left .section2-text p {
    padding-top: 46px;
  }
}
@media only screen and (max-width: 1100px) {
  .search .search-section2-wrapper .section2-left .section2-text p {
    padding-top: 0px;
  }
}
@media only screen and (max-width: 428px) {
  .search .search-section2-wrapper .section2-left .section2-text p {
    font-size: 14px;
    padding-top: 46px;
  }
}
@media only screen and (max-width: 575px) {
  .search .search-section2-wrapper .section2-left .section2-text p {
    font-size: 14px;
    padding-bottom: 40px;
  }
}
.search .search-section2-wrapper .section2-right {
  background-image: url("../../assets//management//searchimg.png");
  width: 100%;
  height: 100%;
  max-width: 537px;
  min-height: 625px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-top: -120px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-right {
    margin-top: 0px;
    max-width: 400px;
    min-height: 300px;
  }
}
@media only screen and (max-width: 428px) {
  .search .search-section2-wrapper .section2-right {
    margin-top: -50px;
  }
}
.search .search-section2-wrapper .section2-right .section2-icon {
  position: absolute;
  top: 37%;
  left: 38%;
}
@media only screen and (max-width: 1100px) {
  .search .search-section2-wrapper .section2-right .section2-icon {
    top: 29%;
    left: 38%;
  }
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-right .section2-icon {
    top: 42%;
    left: 44%;
  }
}
.search .search-section2-wrapper .section2-right .section2-icon img {
  width: 133px;
  height: 133px;
}
@media only screen and (max-width: 1024px) {
  .search .search-section2-wrapper .section2-right .section2-icon img {
    width: 56.112px;
    height: 56.112px;
  }
}
.search .search-section2-wrapper .section2-right .section2-bottom {
  width: 100%;
  max-width: 789px;
  min-height: 118.399px;
  border-radius: 789px;
  border-radius: 789px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.51) 0%, rgba(221, 221, 221, 0) 100%);
  position: absolute;
  bottom: -30px;
  right: 0px;
}
@media only screen and (max-width: 1040px) {
  .search .search-section2-wrapper .section2-right .section2-bottom {
    max-width: 343px;
    min-height: 51.471px;
    border-radius: 343px;
    top: 92%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.51) 0%, rgba(221, 221, 221, 0) 100%);
  }
}
@media only screen and (max-width: 1100px) {
  .search .search-section2-wrapper .section2-right .section2-bottom {
    bottom: 30px;
  }
}
.search .search-googledads {
  max-width: 1499px;
  min-height: 244px;
  border-radius: 32.41px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  text-align: center;
  padding: 49px 102px 48px 102px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .search .search-googledads {
    background: none;
    margin-top: 0px;
    padding: 0;
    min-height: 0px;
  }
}
.search .search-googledads h2 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  margin-bottom: 59px;
}
@media only screen and (max-width: 1024px) {
  .search .search-googledads h2 {
    display: none;
  }
}
.search .search-googledads h2 span {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}
@media only screen and (max-width: 428px) {
  .search .search-googledads {
    font-size: 14px;
    padding-top: 46px;
  }
}
@media only screen and (max-width: 575px) {
  .search .search-googledads {
    font-size: 14px;
    padding-bottom: 40px;
  }
}

.section2-right {
  background-image: url("../../assets//management/searchimg.png");
  width: 100%;
  height: 100%;
  max-width: 537px;
  min-height: 625px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin-top: -120px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .section2-right {
    margin-top: 0px;
    max-width: 400px;
    min-height: 300px;
  }
}
@media only screen and (max-width: 428px) {
  .section2-right {
    margin-top: -50px;
  }
}
.section2-right .section2-icon {
  position: absolute;
  top: 37%;
  left: 38%;
}
@media only screen and (max-width: 1100px) {
  .section2-right .section2-icon {
    top: 29%;
    left: 38%;
  }
}
@media only screen and (max-width: 1024px) {
  .section2-right .section2-icon {
    top: 42%;
    left: 44%;
  }
}
.section2-right .section2-icon img {
  width: 133px;
  height: 133px;
}
@media only screen and (max-width: 1024px) {
  .section2-right .section2-icon img {
    width: 56.112px;
    height: 56.112px;
  }
}
.section2-right .section2-bottom {
  width: 100%;
  max-width: 789px;
  min-height: 118.399px;
  border-radius: 789px;
  border-radius: 789px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.51) 0%, rgba(221, 221, 221, 0) 100%);
  position: absolute;
  bottom: -30px;
  right: 0px;
}
@media only screen and (max-width: 1040px) {
  .section2-right .section2-bottom {
    max-width: 343px;
    min-height: 51.471px;
    border-radius: 343px;
    top: 92%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.51) 0%, rgba(221, 221, 221, 0) 100%);
  }
}
@media only screen and (max-width: 1100px) {
  .section2-right .section2-bottom {
    bottom: 30px;
  }
}

.search-googledads {
  max-width: 1499px;
  min-height: 244px;
  border-radius: 32.41px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  text-align: center;
  padding: 49px 102px 48px 102px;
  margin-top: 50px;
}
@media only screen and (max-width: 1024px) {
  .search-googledads {
    background: none;
    margin-top: 0px;
    padding: 0;
    min-height: 0px;
  }
}
.search-googledads h2 {
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  margin-bottom: 59px;
}
@media only screen and (max-width: 1024px) {
  .search-googledads h2 {
    display: none;
  }
}
.search-googledads h2 span {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}
.search-googledads .search-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media only screen and (max-width: 1440px) {
  .search-googledads .search-button {
    justify-content: center;
    gap: 10px;
    margin-top: 7px;
  }
}
@media only screen and (max-width: 992px) {
  .search-googledads .search-button {
    margin-top: 0px;
  }
}
.search-googledads .search-button button {
  display: flex;
  width: 100%;
  max-width: 234px;
  min-height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
  border: 1px solid #FFF;
  background: transparent;
  gap: 15px;
}
@media only screen and (max-width: 1440px) {
  .search-googledads .search-button button {
    max-width: 200px;
    min-height: 50px;
  }
}
@media only screen and (max-width: 1440px) {
  .search-googledads .search-button button {
    max-width: 150px;
    min-height: 50px;
  }
}
@media only screen and (max-width: 1024px) {
  .search-googledads .search-button button {
    display: none;
  }
}
.search-googledads .search-button button svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}
.search-googledads .search-button button p {
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  .search-googledads .search-button button p {
    display: none;
  }
}
.search-googledads .search-button button .search_button {
  display: none;
}
.search-googledads .search-button .search-button2 {
  display: flex;
  gap: 12px;
  gap: 12px;
}
@media only screen and (max-width: 425px) {
  .search-googledads .search-button .search-button2 {
    gap: 5px;
  }
}
.search-googledads .search-button .search-button2 button {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .search-googledads .search-button .search-button2 button {
    display: block;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 12.908px;
    border-radius: 53.354px;
    border: 0.861px solid #27303F;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .search-googledads .search-button .search-button2 button svg {
    fill: #27303F;
    width: 20px;
    height: 20px;
  }
}

.casestudies {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .casestudies {
    display: block;
    text-align: center;
    margin-top: 36px;
  }
  .casestudies h5 {
    color: #27303F;
    font-size: 14px;
    line-height: 25.93px;
    font-family: Poppins sans-serif;
  }
  .casestudies svg {
    width: 13px;
    height: 14px;
    fill: #AAA;
    margin-top: -17px;
  }
}

.casestudies {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .casestudies {
    display: block;
    text-align: center;
    margin-top: 36px;
  }
  .casestudies h5 {
    color: #27303F;
    font-size: 14px;
    line-height: 25.93px;
    font-family: Poppins sans-serif;
  }
  .casestudies svg {
    width: 13px;
    height: 14px;
    fill: #AAA;
    margin-top: -17px;
  }
}/*# sourceMappingURL=googleAds.css.map */