.partner-bg {
  width: 100%;
  background: url("../../../../assets/bussiness/Group 1306.png");
  height: 100%;
  padding-top: 61px;
  background-position: top -120px center;
  background-repeat: no-repeat;
}
.partner-bg .partner-wrapper {
  width: 100%;
  min-height: 1383px;
  background: url("../../../../assets/bussiness/halfCircle.png");
  background-size: cover;
  background-position: top -120px center;
  position: relative;
  height: 100%;
  display: block;
}
@media only screen and (max-width: 992px) {
  .partner-bg .partner-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 1245px) {
  .partner-bg .partner-wrapper {
    min-height: 1583px;
  }
}
.partner-bg .partner-wrapper .partner-wrapper-inner {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-heading {
  max-width: 744px;
  margin: 0 auto;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-heading h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px;
  text-transform: capitalize;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-heading p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper {
  max-width: 1403px;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box {
  display: flex;
  min-height: 366px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box1 {
  width: 30%;
  position: relative;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box1 .partner-box1-inner {
  position: absolute;
  right: -5px;
  top: 30%;
  z-index: 12;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box2 {
  width: 40%;
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
  min-height: 283px;
  padding: 55px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box2 h1 {
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box2 p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box3 {
  width: 30%;
  position: relative;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box .partner-box3 .partner-box1-inner {
  position: absolute;
  left: -5px;
  top: 30%;
  z-index: 12;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 {
  display: flex;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box1 {
  width: 30%;
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
  padding: 55px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box1 h1 {
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box1 p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box2 .partner-box2-svg {
  padding: 57px 55px 56px 44px;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box3 {
  width: 30%;
  padding: 55px;
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box3 h1 {
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-bg .partner-wrapper .partner-wrapper-inner .partner-box-wrapper .partner-inner-box2 .partner-box3 p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 28px;
}
.partner-bg .mobile-partner {
  width: 100%;
  background-image: url("../../../../assets/bussiness/halfCircle.png");
  background-position: top;
  background-size: 134%;
  background-repeat: no-repeat;
  position: relative;
  display: none;
}
@media only screen and (max-width: 992px) {
  .partner-bg .mobile-partner {
    display: block;
    padding-top: 400px;
  }
}
.partner-bg .mobile-partner .mobile-partner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #181D26;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-box2-svg {
  padding: 57px 55px 56px 44px;
  border-radius: 50%;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
}
.partner-bg .mobile-partner .mobile-partner-content .partner-heading {
  padding-top: 176px;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-heading h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  /* 100% */
  text-transform: capitalize;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-heading p {
  padding-top: 39px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 18px;
  max-width: 90%;
  margin: auto;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-box1 {
  width: 90%;
  border-radius: 50px;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
  padding: 55px;
  text-align: center;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-box1 h1 {
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.partner-bg .mobile-partner .mobile-partner-content .partner-box1 p {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 275;
  line-height: 28px;
}/*# sourceMappingURL=partner.css.map */