@font-face {
  font-family: 'HeyNovember';
  src: url('../fonts//Hey\ November.ttf') format('truetype');
}

@font-face {
  font-family: 'Impact';
  src: url('../impact-font/impact.ttf') format('truetype');
}


.blur {
  filter: blur(3px);

}

.banner-bg {
  background: linear-gradient(180deg, rgba(24, 29, 38, 0.136) 0%, rgba(56, 68, 90, 0) 27%, rgba(24, 29, 38, 1) 100%), url("../assets/banner.png");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width:575px) {
    min-height: 100vh;

  }

  .navbar {
    background: rgba(39, 48, 63, 0.24);
    backdrop-filter: blur(22.5px);
    width: 100%;
    transition: background 1s ease;

    &.dark {
      background: rgba(39, 48, 63, 0.65);
      backdrop-filter: blur(22.5px);
      position: relative;
      z-index: 999;
    }

    .nav {
      width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;

      ul {
        display: flex;
        list-style: none;
        gap: 25px;

        li {
          span {
            margin-left: 10px;
          }

          .menu-text {
            @media screen and (max-width:575px) {
              display: none;
            }

          }

          .span {
            border: 1px solid #E37E49;
            stroke: #E37E49;
            border-radius: 50%;
            padding: 15px;
          }

          a {
            color: #FFF;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.72px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .banner-text {
    text-align: center;
    padding-top: 100px;

    span {
      filter: blur(3px);
      -webkit-filter: blur(3px);
    }

    h1 {
      color: #FFF;
      text-align: center;
      font-family: 'Impact', sans-serif;
      font-size: 78.403px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.136px;

      @media screen and (max-width:575px) {
        font-size: 40px;
      }
    }

    p {
      color: #FFF;
      font-family: 'HeyNovember', sans-serif;
      font-size: 176.407px;
      font-style: normal;
      font-weight: 400;
      line-height: 90.5%;
      letter-spacing: 2.646px;

      @media screen and (max-width:575px) {
        font-size: 80px;
      }
    }
  }
}

.menu {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;


}



.overlay {
    position: absolute;
    left: 0;
    top: -100%; 
    width: 100%;
    min-height: calc(100vh - 70.25px);
    transition: top 1s ease;
    background: rgba(39, 48, 63, 0.65);
    backdrop-filter: blur(22.5px);
    z-index: 998;
    justify-content: center;
    align-items: center;
    
    &.slideIn {
      top: 70.25px;
    }
    
    &.slideOut {
      top: -100%; 
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 70.25px);
      transition: top 1s ease;
      background: rgba(39, 48, 63, 0.65);
      backdrop-filter: blur(22.5px);
      z-index: 998;
      justify-content: center;
      align-items: center;
    }

    .centerText{
      position: absolute;
      max-width: 500px;
      max-height: 500px;
      overflow: hidden;
      .subMenuItems{
        display: none;
        &.show{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a{
            color: #FFF;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.56px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px;
          }
        }

      }
      h1 {
          color: #FFF;
          text-align: center;
          font-family: 'Impact', sans-serif;
          font-size: clamp(32px, 5.5vw, 50px);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2.021px;
        }

        .hereLine {
          color: #FFF;
          font-family: 'HeyNovember', sans-serif;
          font-size: clamp(48px, 5.5vw, 72px);
          font-style: normal;
          font-weight: 400;
          line-height: 90.5%;
          letter-spacing: 1.705px;
          margin: 0;
        }
        span {
          filter: blur(3px);
          -webkit-filter: blur(3px);
        }
    }
    .outerCircle {
      position: relative;
      @media screen and (max-width:1220px) {
        display: none;
      }
      
      .menuItems {
        display: flex;
        align-items: center;
        .MenuHeading {
          color: #FFF;
          font-family: Poppins;
          font-size: clamp(14px, 5.5vw, 18px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.96px;
          text-transform: uppercase;
        }
        .menuItemIcon{
          background: #161B23;
          border-radius: 50%;
          border-bottom: 0.89px solid #F36A24;
          margin: 10px;
          min-width: 90px;
          min-height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background 1s ease;
        }
      }

      .subMenu {

        // display: none;
        ul {
          list-style: none;
          text-align: start;
        }
      }

      .topLeft {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        border-color: #F36A24;
        background: transparent;
        width: 300px;
        height: 300px;
        transition: width 0.3s, height 0.3s, transform 0.3s;
        transform-origin: bottom left;
        border-top-left-radius: 100%;
        @media screen  {
          
        }

        .subMenuDot1 {
          top: 3%;
          right: 33%;
          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: 100px;
            right: 150px;

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  left: -25%;
                }

                &:nth-child(2) {
                  left: -50%;
                }

                &:nth-child(3) {
                  left: -75%;
                }
              }
            }
          }
        }

        .subMenuDot2 {
          bottom: 33%;
          left: 3%;

          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: 50px;
            left: -215px;

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  left: -25%;
                }

                &:nth-child(2) {
                  left: -50%;
                }

                &:nth-child(3) {
                  left: -75%;
                }
              }
            }
          }
        }
      }

      .topRight {
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid;
        border-right: 1px solid;
        border-color: #F36A24;
        background: transparent;
        width: 300px;
        height: 300px;
        transition: width 0.3s, height 0.3s, transform 0.3s;
        transform-origin: bottom right;
        border-top-right-radius: 100%;

        .subMenuDot1 {
          top: 25%;
          left: 67%;

          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: 100px;
            left: calc(100% - 18px);

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  right: -25%;
                }

                &:nth-child(2) {
                  right: -50%;
                }

                &:nth-child(3) {
                  right: -75%;
                }
              }
            }
          }
        }

        .subMenuDot2 {
          bottom: calc(0% - 11px);
          right: calc(0% - 11px);

          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: 50px;
            left: calc(100% + 8px);

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  right: -40%;
                }

                &:nth-child(2) {
                  right: -50%;
                }

                &:nth-child(3) {
                  right: -40%;
                }
              }
            }
          }
        }
      }

      .bottomLeft {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: #F36A24;
        width: 300px;
        height: 300px;
        transition: width 0.3s, height 0.3s, transform 0.3s;
        transform-origin: top left;
        border-bottom-left-radius: 100%;

        .subMenuDot1 {
          left: 3%;
          top: 33%;

          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: 0px;
            left: -215px;

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  left: -75%;
                }

                &:nth-child(2) {
                  left: -50%;
                }

                &:nth-child(3) {
                  left: -25%;
                }
              }
            }
          }
        }

        .subMenuDot2 {
          bottom: 3%;
          right: 33%;

          .menuItems {
            position: relative;
            min-width: max-content;
            bottom: -25px;
            left: -215px;

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  left: -75%;
                }

                &:nth-child(2) {
                  left: -50%;
                }

                &:nth-child(3) {
                  left: -25%;
                }
              }
            }
          }
        }
      }

      .bottomRight {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #F36A24;
        width: 300px;
        height: 300px;
        transition: width 0.3s, height 0.3s, transform 0.3s;
        transform-origin: top right;
        border-bottom-right-radius: 100%;

        .subMenuDot1 {
          bottom: 25%;
          left: 67%;

          .menuItems {
            position: relative;
            min-width: max-content;
            top: 1px;
            left: calc(100% + 1px);

            .subMenu {
              li {
                position: relative;

                &:first-child {
                  right: -75%;
                }

                &:nth-child(2) {
                  right: -50%;
                }

                &:nth-child(3) {
                  right: -25%;
                }
              }
            }
          }
        }
      }
      .subMenuDot1 ,.subMenuDot2{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        position: absolute;
        &.active{
          border: 2px solid #fff;
          background: #F36A24;
          .menuItems {
            display: flex;
            align-items: center;
            .menuItemIcon{
              background: linear-gradient(180deg, #F36A24 0%, #C74300 100%);
              box-shadow: 0px 0px 12px 0px rgba(255, 173, 132, 0.30);
              border-radius: 50%;
              border-top: 1.048px solid rgba(255, 255, 255, 0.46);
            }
          }
        }
      } 
    }
    .popup {
      background: url('../assets/roundImg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 530px;
    }
    // .bg-circle-text {
    //   background-image: url('../assets/roundImg.png');
    //   text-align: center;
    //   position: relative;
    //   width: 553px;
    //   height: 553px;
    //   max-width: 553px;
    //   max-height: 553px;
    //   background-position: center;
    //   background-size: 100% 100%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-items: center;
    //   background-repeat: no-repeat;
    //   position: relative;
    //   border-radius: 50%;
    //   // padding: 0% 5%;
    //   margin: 0 auto;
    //   @media screen and (max-width:1600px) {
            
    //       max-width: 503px;
    //       max-height: 503px;
    //   }
    //   @media screen and (max-width:1400px) {
            
    //     max-width: 453px;
    //     max-height: 453px;
    //   } 
    //   @media screen and (max-width:1200px) {
            
    //     max-width: 403px;
    //     max-height: 403px;
    //   } 

    //   .banner-text {
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     padding-top: 0;

    //     h1 {
    //       color: #FFF;
    //       text-align: center;
    //       font-family: 'Impact', sans-serif;
    //       font-size: clamp(32px, 5.5vw, 50px);
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //       letter-spacing: 2.021px;
    //     }

    //     p {
    //       color: #FFF;
    //       font-family: 'HeyNovember', sans-serif;
    //       font-size: clamp(48px, 5.5vw, 72px);
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: 90.5%;
    //       letter-spacing: 1.705px;
    //       margin: 0;
    //     }
    //   }
    // }

}
