@font-face {
  font-family: "HeyNovember";
  src: url("../fonts//Hey November.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("../impact-font/impact.ttf") format("truetype");
}
.blur {
  filter: blur(3px);
}

.banner-bg {
  background: linear-gradient(180deg, rgba(24, 29, 38, 0.136) 0%, rgba(56, 68, 90, 0) 27%, rgb(24, 29, 38) 100%), url("../assets/banner.png");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 575px) {
  .banner-bg {
    min-height: 100vh;
  }
}
.banner-bg .navbar {
  background: rgba(39, 48, 63, 0.24);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  width: 100%;
  transition: background 1s ease;
}
.banner-bg .navbar.dark {
  background: rgba(39, 48, 63, 0.65);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  position: relative;
  z-index: 999;
}
.banner-bg .navbar .nav {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.banner-bg .navbar .nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
.banner-bg .navbar .nav ul li span {
  margin-left: 10px;
}
@media screen and (max-width: 575px) {
  .banner-bg .navbar .nav ul li .menu-text {
    display: none;
  }
}
.banner-bg .navbar .nav ul li .span {
  border: 1px solid #E37E49;
  stroke: #E37E49;
  border-radius: 50%;
  padding: 15px;
}
.banner-bg .navbar .nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}
.banner-bg .banner-text {
  text-align: center;
  padding-top: 100px;
}
.banner-bg .banner-text span {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.banner-bg .banner-text h1 {
  color: #FFF;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 78.403px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.136px;
}
@media screen and (max-width: 768px) {
  .banner-bg .banner-text h1 {
    font-size: 45px;
  }
}
.banner-bg .banner-text p {
  color: #FFF;
  font-family: "HeyNovember", sans-serif;
  font-size: 176.407px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 2.646px;
}
@media screen and (max-width: 768px) {
  .banner-bg .banner-text p {
    font-size: 90px;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: calc(100vh - 70.25px);
  min-height: 750px;
  transition: top 1s ease;
  background: rgba(39, 48, 63, 0.65);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  z-index: 998;
  justify-content: center;
  align-items: center;
}
.overlay.slideIn {
  top: 70.25px;
}
.overlay.slideOut {
  top: -100%;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 70.25px);
  transition: top 1s ease;
  background: rgba(39, 48, 63, 0.65);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  z-index: 998;
  justify-content: center;
  align-items: center;
}
.overlay .centerText {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}
.overlay .centerText .subMenuItems {
  display: none;
}
.overlay .centerText .subMenuItems.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay .centerText .subMenuItems.show a {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.56px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}
.overlay .centerText h1 {
  color: #FFF;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: clamp(32px, 5.5vw, 50px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.021px;
}
.overlay .centerText .hereLine {
  color: #FFF;
  font-family: "HeyNovember", sans-serif;
  font-size: clamp(48px, 5.5vw, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 1.705px;
  margin: 0;
}
.overlay .centerText span {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.overlay .outerCircle {
  position: relative;
}
@media screen and (max-width: 1220px) {
  .overlay .outerCircle {
    display: none;
  }
}
.overlay .outerCircle .menuItems {
  display: flex;
  align-items: center;
}
.overlay .outerCircle .menuItems .MenuHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: clamp(14px, 5.5vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.overlay .outerCircle .menuItems .menuItemIcon {
  background: #161B23;
  border-radius: 50%;
  border-bottom: 0.89px solid #F36A24;
  margin: 10px;
  min-width: 90px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease;
}
.overlay .outerCircle .subMenu ul {
  list-style: none;
  text-align: start;
}
.overlay .outerCircle .topLeft {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #F36A24;
  background: transparent;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: bottom left;
  border-top-left-radius: 100%;
}
.overlay .outerCircle .topLeft .subMenuDot1 {
  top: 3%;
  right: 33%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 100px;
  right: 150px;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:first-child {
  left: -25%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  left: -75%;
}
.overlay .outerCircle .topLeft .subMenuDot2 {
  bottom: 33%;
  left: 3%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 50px;
  left: -215px;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:first-child {
  left: -25%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  left: -75%;
}
.overlay .outerCircle .topRight {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #F36A24;
  background: transparent;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: bottom right;
  border-top-right-radius: 100%;
}
.overlay .outerCircle .topRight .subMenuDot1 {
  top: 25%;
  left: 67%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 100px;
  left: calc(100% - 18px);
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:first-child {
  right: -25%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  right: -75%;
}
.overlay .outerCircle .topRight .subMenuDot2 {
  bottom: calc(0% - 11px);
  right: calc(0% - 11px);
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 50px;
  left: calc(100% + 8px);
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:first-child {
  right: -40%;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  right: -40%;
}
.overlay .outerCircle .bottomLeft {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #F36A24;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: top left;
  border-bottom-left-radius: 100%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 {
  left: 3%;
  top: 33%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 0px;
  left: -215px;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:first-child {
  left: -75%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  left: -25%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 {
  bottom: 3%;
  right: 33%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: -25px;
  left: -215px;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:first-child {
  left: -75%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  left: -25%;
}
.overlay .outerCircle .bottomRight {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #F36A24;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: top right;
  border-bottom-right-radius: 100%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 {
  bottom: 25%;
  left: 67%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  top: 1px;
  left: calc(100% + 1px);
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:first-child {
  right: -75%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  right: -25%;
}
.overlay .outerCircle .subMenuDot1, .overlay .outerCircle .subMenuDot2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
}
.overlay .outerCircle .subMenuDot1.active, .overlay .outerCircle .subMenuDot2.active {
  border: 2px solid #fff;
  background: #F36A24;
}
.overlay .outerCircle .subMenuDot1.active .menuItems, .overlay .outerCircle .subMenuDot2.active .menuItems {
  display: flex;
  align-items: center;
}
.overlay .outerCircle .subMenuDot1.active .menuItems .menuItemIcon, .overlay .outerCircle .subMenuDot2.active .menuItems .menuItemIcon {
  background: linear-gradient(180deg, #F36A24 0%, #C74300 100%);
  box-shadow: 0px 0px 12px 0px rgba(255, 173, 132, 0.3);
  border-radius: 50%;
  border-top: 1.048px solid rgba(255, 255, 255, 0.46);
}
.overlay .popup {
  background: url("../assets/roundImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 530px;
}/*# sourceMappingURL=banner.css.map */