@font-face {
  font-family: "HeyNovember";
  src: url("../fonts//Hey November.ttf") format("truetype");
}
@font-face {
  font-family: "Impact";
  src: url("../impact-font/impact.ttf") format("truetype");
}
.blur {
  filter: blur(3px);
}

.bannerLayerSky {
  background: url("../assets/banner/Sky.png");
  height: 120vh;
  min-height: 1420px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .bannerLayerSky {
    min-height: 1030px;
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky {
    min-height: 100%;
    max-height: 930px;
  }
}
.bannerLayerSky .bannerLayerSun {
  background: url("../assets/banner/Sun.png");
  height: 120vh;
  min-height: 1420px;
  width: 100%;
  background-position: center bottom -50%;
  transition: background-position 3s ease;
  background-repeat: no-repeat;
  background-size: 40%;
}
@media screen and (max-width: 992px) {
  .bannerLayerSky .bannerLayerSun {
    background-size: 65%;
    min-height: 1030px;
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun {
    background-size: 80%;
    min-height: 100%;
    max-height: 930px;
  }
}
@media screen and (max-width: 475px) {
  .bannerLayerSky .bannerLayerSun {
    background-size: 136% 61%;
  }
}
@media screen and (max-width: 360px) {
  .bannerLayerSky .bannerLayerSun {
    background-size: 162% 61%;
  }
}
.bannerLayerSky .bannerLayerSun.animation {
  background-position: center bottom 40%;
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun.animation {
    background-position: center bottom 15%;
  }
}
@media screen and (max-width: 475px) {
  .bannerLayerSky .bannerLayerSun.animation {
    background-position: center bottom 16%;
  }
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings {
  background: url("../assets/banner/buildings.png");
  height: 120vh;
  min-height: 1420px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings {
    background: url("../assets/banner/buildingMobile.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 85%;
    min-height: 1030px;
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings {
    background-size: 100%;
    min-height: 100%;
    max-height: 930px;
    background-position: bottom;
  }
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 45%;
  bottom: 0%;
  left: 0%;
  background: linear-gradient(180deg, rgba(24, 29, 38, 0) 29.7%, #181D26 74.93%);
}
@media screen and (max-width: 992px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings::before {
    height: 35%;
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings::before {
    height: 30%;
  }
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow {
  background: url("../assets/banner/shadow.png");
  height: 100vh;
  min-height: 1230px;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 900px;
  opacity: 0;
  position: relative;
  transition: opacity 3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  min-height: 1420px;
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow.animation {
  opacity: 1;
}
@media screen and (max-width: 1400px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow {
    background-position: center bottom -200px;
    min-height: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow {
    background: none;
    min-height: 1030px;
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow {
    background: none;
    min-height: 100%;
    max-height: 850px;
  }
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 343px;
  transform: translateY(181px);
}
@media screen and (max-width: 992px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container {
    transform: translateY(41px);
  }
}
@media screen and (max-width: 767px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container {
    min-height: 314px;
  }
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container span {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container h1 {
  color: #FFF;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: clamp(36px, 5.5vw, 78px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.136px;
}
.bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container p {
  color: #FFF;
  font-family: "HeyNovember", sans-serif;
  font-size: clamp(96px, 5.5vw, 176px);
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 2.646px;
}
@media screen and (max-width: 575px) {
  .bannerLayerSky .bannerLayerSun .bannerLayerBuildings .bannerLayerShadow .banner-text-container p {
    font-size: 80px;
  }
}

.navbar {
  background: rgba(39, 48, 63, 0.24);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  width: 100%;
  transition: background 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.navbar.dark {
  background: rgba(39, 48, 63, 0.65);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  position: absolute;
  z-index: 999;
}
.navbar .nav {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  .navbar .nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.navbar .nav .mobileLogo {
  margin-bottom: 10px;
}
.navbar .nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
.navbar .nav ul li span {
  margin-left: 10px;
}
@media screen and (max-width: 767px) {
  .navbar .nav ul li .menu-text {
    display: none;
  }
}
.navbar .nav ul li .span {
  border: 1px solid #E37E49;
  stroke: #E37E49;
  border-radius: 50%;
  padding: 15px;
}
.navbar .nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.banner-bg {
  background: linear-gradient(180deg, rgba(24, 29, 38, 0.136) 0%, rgba(56, 68, 90, 0) 27%, rgb(24, 29, 38) 100%), url("../assets/banner.png");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 575px) {
  .banner-bg {
    min-height: 100vh;
  }
}
.banner-bg .banner-text-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.banner-bg .banner-text-container span {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.banner-bg .banner-text-container h1 {
  color: #FFF;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: 78.403px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.136px;
}
@media screen and (max-width: 768px) {
  .banner-bg .banner-text-container h1 {
    font-size: 45px;
  }
}
.banner-bg .banner-text-container p {
  color: #FFF;
  font-family: "HeyNovember", sans-serif;
  font-size: 176.407px;
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 2.646px;
}
@media screen and (max-width: 768px) {
  .banner-bg .banner-text-container p {
    font-size: 90px;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: -100vh;
  width: 100%;
  height: calc(100vh - 70.25px);
  min-height: 1015px;
  transition: top 1s ease;
  background: rgba(39, 48, 63, 0.65);
  -webkit-backdrop-filter: blur(22.5px);
          backdrop-filter: blur(22.5px);
  z-index: 998;
  justify-content: center;
  align-items: center;
}
.overlay.slideIn {
  top: 70.25px;
}
.overlay.slideOut {
  top: -110%;
}
.overlay .centerText {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}
@media screen and (max-width: 1220px) {
  .overlay .centerText {
    display: none;
  }
}
.overlay .centerText .subMenuItems {
  overflow: hidden;
  opacity: 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  transition: height 1s ease, opacity 1s ease;
}
.overlay .centerText .subMenuItems a {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.56px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}
.overlay .centerText .subMenuItems.show {
  height: 500px;
  opacity: 1;
}
.overlay .centerText h1 {
  color: #FFF;
  text-align: center;
  font-family: "Impact", sans-serif;
  font-size: clamp(32px, 5.5vw, 50px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.021px;
}
.overlay .centerText .hereLine {
  color: #FFF;
  font-family: "HeyNovember", sans-serif;
  font-size: clamp(48px, 5.5vw, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 90.5%;
  letter-spacing: 1.705px;
  margin: 0;
}
.overlay .centerText span {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.overlay .mobileMenuDiv {
  position: relative;
  left: -150px;
  max-height: 580px;
  overflow: hidden;
  width: 100vw;
}
@media screen and (max-width: 767px) {
  .overlay .mobileMenuDiv {
    width: 100vw;
    left: -90px;
  }
}
@media screen and (max-width: 720px) {
  .overlay .mobileMenuDiv {
    width: 110vw;
    left: -70px;
  }
}
@media screen and (max-width: 600px) {
  .overlay .mobileMenuDiv {
    left: 0px;
    width: 95vw;
  }
}
.overlay .mobileMenuDiv::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 480px;
  top: 50%;
  left: -200px;
  border: 2px solid #F36A24;
  border-radius: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .overlay .mobileMenuDiv::before {
    left: -260px;
  }
}
@media screen and (max-width: 720px) {
  .overlay .mobileMenuDiv::before {
    left: -270px;
  }
}
@media screen and (max-width: 600px) {
  .overlay .mobileMenuDiv::before {
    left: -340px;
  }
}
@media screen and (max-width: 600px) {
  .overlay .mobileMenuDiv::before {
    left: -400px;
  }
}
@media screen and (max-width: 425px) {
  .overlay .mobileMenuDiv::before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .overlay .mobileMenuDiv::before {
    width: 580px;
    height: 580px;
    left: -230px;
  }
}
@media screen and (min-width: 768px) {
  .overlay .mobileMenuDiv {
    left: -50px;
    max-height: 680px;
    overflow: hidden;
    width: 100vw;
  }
}
@media screen and (min-width: 1221px) {
  .overlay .mobileMenuDiv {
    display: none;
  }
}
.overlay .mobileMenuDiv .mobileMenu {
  float: left;
  width: 500px;
  height: 500px;
  margin: 20px;
  shape-outside: circle(50% at 15%);
  -webkit-clip-path: circle(50% at 0%);
          clip-path: circle(50% at 0%);
}
@media screen and (min-width: 590px) and (max-width: 767px) {
  .overlay .mobileMenuDiv .mobileMenu {
    shape-outside: circle(45% at 1%);
  }
}
@media screen and (max-width: 600px) {
  .overlay .mobileMenuDiv .mobileMenu {
    shape-outside: circle(45% at -15%);
  }
}
@media screen and (max-width: 450px) {
  .overlay .mobileMenuDiv .mobileMenu {
    shape-outside: circle(45% at -25%);
  }
}
@media screen and (max-width: 425px) {
  .overlay .mobileMenuDiv .mobileMenu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .overlay .mobileMenuDiv .mobileMenu {
    width: 580px;
    height: 580px;
    margin: 0px;
  }
}
.overlay .mobileMenuDiv .mobileMenuItems {
  transition: width 1s ease, height 1s ease;
  position: relative;
  z-index: 1;
}
.overlay .mobileMenuDiv .mobileMenuItems a {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 1s ease;
}
@media screen and (max-width: 575px) {
  .overlay .mobileMenuDiv .mobileMenuItems a {
    font-size: 18px;
  }
}
.overlay .mobileMenuDiv .mobileMenuItems a:hover svg {
  background: #F36A24;
  border-bottom: 0.89px solid #F36A24;
}
.overlay .mobileMenuDiv .mobileMenuItems a svg {
  margin: 0px 15px;
  background: #161B23;
  border-radius: 50%;
  border-bottom: 0.89px solid #F36A24;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;
}
.overlay .mobileMenuDiv .mobileMenuItems.hide {
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.overlay .mobileMenuDiv .mobileSubMenuItems {
  display: none;
}
.overlay .mobileMenuDiv .mobileSubMenuItems.show {
  display: initial;
  position: relative;
  z-index: 1;
}
.overlay .mobileMenuDiv .mobileSubMenuItems .menuItemBack {
  position: absolute;
  top: 0;
  left: 45px;
}
@media screen and (max-width: 450px) {
  .overlay .mobileMenuDiv .mobileSubMenuItems .menuItemBack {
    top: -20px;
    left: 15px;
  }
}
@media screen and (max-width: 425px) {
  .overlay .mobileMenuDiv .mobileSubMenuItems .menuItemBack {
    top: -15px;
    left: 5px;
  }
}
.overlay .mobileMenuDiv .mobileSubMenuItems .menuItemBack svg {
  margin: 0px 15px;
  background: #F36A24;
  border-radius: 50%;
  border: 0.89px solid #F36A24;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;
}
.overlay .mobileMenuDiv .mobileSubMenuItems .menuItem {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (max-width: 575px) {
  .overlay .mobileMenuDiv .mobileSubMenuItems .menuItem {
    font-size: 18px;
  }
}
.overlay .mobileMenuDiv .mobileSubMenuItems .menuItem svg {
  margin: 0px 15px;
  background: transparent;
  border-radius: 50%;
  border: 0.89px solid #F36A24;
  min-width: 55px;
  min-height: 55px;
  padding: 15px;
}
.overlay .mobileMenuDiv .mobileSubMenuItems .subMenuItems {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 10px 0;
  letter-spacing: 0.56px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  text-decoration: none;
}
@media screen and (max-width: 450px) {
  .overlay .mobileMenuDiv .mobileSubMenuItems .subMenuItems {
    padding-left: 20px;
  }
}
.overlay .outerCircle {
  position: relative;
}
@media screen and (max-width: 1220px) {
  .overlay .outerCircle {
    display: none;
  }
}
.overlay .outerCircle .menuItems {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.overlay .outerCircle .menuItems:hover .menuItemIcon {
  background: #F36A24;
}
.overlay .outerCircle .menuItems .MenuHeading {
  color: #FFF;
  font-family: Poppins;
  font-size: clamp(14px, 5.5vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.overlay .outerCircle .menuItems .menuItemIcon {
  background: #161B23;
  border-radius: 50%;
  border-bottom: 0.89px solid #F36A24;
  margin: 10px;
  min-width: 90px;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease;
}
.overlay .outerCircle .subMenu ul {
  list-style: none;
  text-align: start;
}
.overlay .outerCircle .topLeft {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #F36A24;
  background: transparent;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: bottom left;
  border-top-left-radius: 100%;
}
.overlay .outerCircle .topLeft .subMenuDot1 {
  top: 3%;
  right: 33%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 100px;
  right: 150px;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:first-child {
  left: -25%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .topLeft .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  left: -75%;
}
.overlay .outerCircle .topLeft .subMenuDot2 {
  bottom: 33%;
  left: 3%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 50px;
  left: -215px;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:first-child {
  left: -25%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .topLeft .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  left: -75%;
}
.overlay .outerCircle .topRight {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #F36A24;
  background: transparent;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: bottom right;
  border-top-right-radius: 100%;
}
.overlay .outerCircle .topRight .subMenuDot1 {
  top: 25%;
  left: 67%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 100px;
  left: calc(100% - 18px);
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:first-child {
  right: -25%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .topRight .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  right: -75%;
}
.overlay .outerCircle .topRight .subMenuDot2 {
  bottom: calc(0% - 11px);
  right: calc(0% - 11px);
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 50px;
  left: calc(100% + 8px);
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:first-child {
  right: -40%;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .topRight .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  right: -40%;
}
.overlay .outerCircle .bottomLeft {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #F36A24;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: top left;
  border-bottom-left-radius: 100%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 {
  left: 3%;
  top: 33%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: 0px;
  left: -215px;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:first-child {
  left: -75%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .bottomLeft .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  left: -25%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 {
  bottom: 3%;
  right: 33%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  bottom: -25px;
  left: -215px;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:first-child {
  left: -75%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:nth-child(2) {
  left: -50%;
}
.overlay .outerCircle .bottomLeft .subMenuDot2 .menuItems .subMenu li:nth-child(3) {
  left: -25%;
}
.overlay .outerCircle .bottomRight {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #F36A24;
  width: 300px;
  height: 300px;
  transition: width 0.3s, height 0.3s, transform 0.3s;
  transform-origin: top right;
  border-bottom-right-radius: 100%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 {
  bottom: 25%;
  left: 67%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems {
  position: relative;
  min-width: -moz-max-content;
  min-width: max-content;
  top: 1px;
  left: calc(100% + 1px);
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li {
  position: relative;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:first-child {
  right: -75%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:nth-child(2) {
  right: -50%;
}
.overlay .outerCircle .bottomRight .subMenuDot1 .menuItems .subMenu li:nth-child(3) {
  right: -25%;
}
.overlay .outerCircle .subMenuDot1, .overlay .outerCircle .subMenuDot2 {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: absolute;
}
.overlay .outerCircle .subMenuDot1.active, .overlay .outerCircle .subMenuDot2.active {
  border: 2px solid #fff;
  background: #F36A24;
}
.overlay .outerCircle .subMenuDot1.active .menuItems, .overlay .outerCircle .subMenuDot2.active .menuItems {
  display: flex;
  align-items: center;
}
.overlay .outerCircle .subMenuDot1.active .menuItems .menuItemIcon, .overlay .outerCircle .subMenuDot2.active .menuItems .menuItemIcon {
  background: linear-gradient(180deg, #F36A24 0%, #C74300 100%);
  box-shadow: 0px 0px 12px 0px rgba(255, 173, 132, 0.3);
  border-radius: 50%;
  border-top: 1.048px solid rgba(255, 255, 255, 0.46);
}
.overlay .popup {
  background: url("../assets/roundImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 530px;
}
@media screen and (max-width: 1220px) {
  .overlay .popup {
    background-position: center left -265px;
  }
}
@media screen and (max-width: 767px) {
  .overlay .popup {
    background: none;
  }
}/*# sourceMappingURL=banner.css.map */