.blog-banner-wrapper {
  background-image: url("../../assets/blog/Blog.png");
  min-height: 1027px;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: top;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  .blog-banner-wrapper {
    background-size: 200% 110%;
    min-height: 450px;
  }
}
.blog-banner-wrapper .blog-banner-content {
  max-width: 346px;
}
.blog-banner-wrapper .blog-banner-content h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
}
@media only screen and (max-width: 575px) {
  .blog-banner-wrapper .blog-banner-content h1 {
    font-size: 65px;
  }
}
.blog-banner-wrapper .blog-banner-content p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
@media only screen and (max-width: 575px) {
  .blog-banner-wrapper .blog-banner-content p {
    font-size: 20px;
  }
}

.blog-grid {
  max-width: 1368px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media only screen and (max-width: 992px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 575px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blog-grid .blog-card {
  min-height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 39px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  position: relative;
  transition: 0.5s ease;
}
.blog-grid .blog-card:hover {
  box-shadow: 31px 31px 0px -30px rgb(255, 254, 255);
}
.blog-grid .blog-card:hover .blog-card-content .blog-text-wrap {
  transition: 0.5s ease;
  position: relative;
}
.blog-grid .blog-card:hover .blog-card-content .blog-text-wrap::before {
  content: "";
  position: absolute;
  left: -10px;
  height: 100%;
  width: 1px;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(10, 10, 10, 0.7035189076) 0%, rgb(255, 255, 255) 52%, rgba(10, 10, 10, 0.2665441176) 100%);
  display: block;
}
.blog-grid .blog-card:hover .blog-card-content .blog-text-wrap p {
  display: block;
}
.blog-grid .blog-card:hover .blog {
  background: rgb(10, 10, 10);
  background: linear-gradient(0deg, rgba(10, 10, 10, 0.7035189076) 50%, rgba(10, 10, 10, 0.2665441176) 85%);
  filter: none;
}
.blog-grid .blog-card .blog {
  background-color: #0a0a0a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  filter: opacity(56%);
  border-radius: 35px;
  transition: 0.5s ease;
}
.blog-grid .blog-card .blog-card-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  z-index: 10;
  bottom: 0;
  position: relative;
}
.blog-grid .blog-card .blog-card-content .blog-text-wrap {
  position: relative;
}
.blog-grid .blog-card .blog-card-content .blog-text-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 1px;
  background: rgb(10, 10, 10);
  background: linear-gradient(0deg, rgba(10, 10, 10, 0.7035189076) 50%, rgba(10, 10, 10, 0.7035189076) 0%, rgba(10, 10, 10, 0.2665441176) 50%);
  display: none;
}
.blog-grid .blog-card .blog-card-content .blog-text-wrap h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  text-transform: capitalize;
  max-width: 289px;
}
.blog-grid .blog-card .blog-card-content .blog-text-wrap p {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  display: none;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
}
.blog-grid .blog-card .blog-card-content .blog-text-wrap .blog-arrow-circle {
  border: 1px solid #FF9A67;
  border-radius: 50%;
  padding: 16px 20px;
  transition: 0.5s ease;
}

.blog-conected {
  width: 100%;
  position: relative;
  min-height: 804px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 575px) {
  .blog-conected {
    min-height: 656px;
  }
}
.blog-conected::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 673px;
  height: 600px;
  width: 400px;
  background: linear-gradient(188deg, #F36A24 6.48%, #250036 76.15%);
  filter: blur(117.5257644653px);
  bottom: 0;
  flex-direction: column;
}
@media only screen and (max-width: 575px) {
  .blog-conected::before {
    width: 241px;
    height: 100.521px;
  }
}
.blog-conected::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 673px;
  height: 600px;
  width: 1000px;
  background: linear-gradient(188deg, #F36A24 6.48%, #250036 76.15%);
  filter: blur(117.5257644653px);
  z-index: -1;
}
@media only screen and (max-width: 575px) {
  .blog-conected::after {
    width: 335px;
    height: 275.521px;
    top: 0;
  }
}
.blog-conected .blog-conected-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.blog-conected .blog-conected-content h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
}
@media only screen and (max-width: 575px) {
  .blog-conected .blog-conected-content h1 {
    font-size: 46px;
    line-height: 50px;
  }
}
.blog-conected .blog-conected-content p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 275;
  line-height: 35px;
  text-transform: capitalize;
  margin-top: 11px;
}
@media only screen and (max-width: 575px) {
  .blog-conected .blog-conected-content p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 275;
    line-height: 20px;
    text-transform: capitalize;
  }
}
.blog-conected .blog-conected-content input {
  border-radius: 50px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 12px 0px;
  margin-top: 57px;
  outline: none;
}
.blog-conected .blog-conected-content input::-moz-placeholder {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.blog-conected .blog-conected-content input::placeholder {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.blog-conected .blog-conected-content .blog-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 278px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 50px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  margin: 50px auto;
  border: none;
}/*# sourceMappingURL=blog.css.map */