.blog-banner-wrapper {
  background-image: url("../../assets/blog/Blog.png");
  min-height: 1027px;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  background-position: top;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-banner-wrapper .blog-banner-content {
  max-width: 346px;
}
.blog-banner-wrapper .blog-banner-content h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 95px;
}
.blog-banner-wrapper .blog-banner-content p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.blog-grid {
  max-width: 1368px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.blog-grid .blog-card {
  min-height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 39px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}
.blog-grid .blog-card .blog-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-grid .blog-card .blog-card-content h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
  text-transform: capitalize;
  max-width: 289px;
}
.blog-grid .blog-card .blog-card-content .blog-arrow-circle {
  border: 1px solid #FF9A67;
  border-radius: 50%;
  padding: 16px 20px;
}

.blog-conected {
  width: 100%;
  position: relative;
  min-height: 804px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-conected::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 673px;
  height: 600px;
  width: 400px;
  background: linear-gradient(188deg, #F36A24 6.48%, #250036 76.15%);
  filter: blur(117.5257644653px);
  bottom: 0;
}
.blog-conected::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 673px;
  height: 600px;
  width: 1000px;
  background: linear-gradient(188deg, #F36A24 6.48%, #250036 76.15%);
  filter: blur(117.5257644653px);
  z-index: -1;
}
.blog-conected .blog-conected-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.blog-conected .blog-conected-content h1 {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  /* 59.748px */
}
.blog-conected .blog-conected-content p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 275;
  line-height: 35px;
  /* 125% */
  text-transform: capitalize;
  margin-top: 11px;
}
.blog-conected .blog-conected-content input {
  border-radius: 50px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 12px 0px;
  margin-top: 57px;
  outline: none;
}
.blog-conected .blog-conected-content input::-moz-placeholder {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.blog-conected .blog-conected-content input::placeholder {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.blog-conected .blog-conected-content .blog-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 278px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 50px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  margin: 50px auto;
  border: none;
}/*# sourceMappingURL=blog.css.map */