.contact {
  padding-top: 150px;
}
.contact .container {
  max-width: 1378px;
}
.contact .container .tell-what {
  display: none;
}
@media only screen and (max-width: 768px) {
  .contact .container .tell-what {
    display: block;
  }
  .contact .container .tell-what h4 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 40px;
  }
}
.contact .container .tellus-box {
  width: 100%;
  max-width: 1378px;
  border-radius: 26px;
  border: 0.5px solid #FFF;
  background: #202733;
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
  padding: 60px 263px;
}
@media only screen and (max-width: 992px) {
  .contact .container .tellus-box {
    padding: 60px 80px;
  }
}
@media only screen and (max-width: 443px) {
  .contact .container .tellus-box {
    padding: 60px 18px;
  }
}
.contact .container .tellus-box .button-left {
  width: 63px;
  height: 63px;
  border-radius: 63px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1024px) {
  .contact .container .tellus-box .button-left {
    right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .contact .container .tellus-box .button-left {
    display: none;
  }
}
.contact .container .tellus-box .button-left svg {
  color: #fff;
  font-size: 20px;
}
.contact .container .tellus-box .tell-text {
  text-align: center;
}
.contact .container .tellus-box .tell-text h2 {
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.5%;
}
@media only screen and (max-width: 768px) {
  .contact .container .tellus-box .tell-text h2 {
    display: none;
  }
}
.contact .container .tellus-box .tell-text img.line {
  max-width: 359px;
  width: 100%;
  margin: 20px 0px;
}
@media only screen and (max-width: 768px) {
  .contact .container .tellus-box .tell-text img.line {
    display: none;
  }
}
.contact .container .tellus-box .tell-text p {
  display: none;
}
@media only screen and (max-width: 768px) {
  .contact .container .tellus-box .tell-text p {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 275;
    line-height: 24px;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .contact .container .tellus-box .tell-text p {
    text-align: start;
  }
}
.contact .container .tellus-box .tell-text h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 97.5%;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .contact .container .tellus-box .tell-text h1 {
    -webkit-text-fill-color: #fff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .contact .container .tellus-box .tell-text h1 {
    text-align: start;
  }
}
.contact .container .tellus-box .tell-buttons-top {
  flex-direction: column;
  margin-bottom: 50px;
}
.contact .container .tellus-box .tell-buttons-top button {
  width: 100%;
  border-radius: 62px;
  border: 0.5px solid #FFF;
  padding: 19px 86px;
  background: transparent;
  color: #FFF;
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 32px;
}
.contact .container .tellus-box .tell-buttons-top button.active {
  background: rgba(255, 255, 255, 0.1);
}
.contact .container .tellus-box button.send {
  display: block;
  border-radius: 62px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  padding: 19px 86px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}/*# sourceMappingURL=contact.css.map */