.terms-container{
    max-width: 1380px;
     width: 100%;
    .terms-wrapper{
        padding-top:150px ;
        .terms{
            h1{
                color:#FFF;
                font-size: 60px;
                font-weight: bold;
                @media only screen and (max-width: 575px) {
                    font-size: 40px;
                }
            }
            p{
                color: #FFF;
                font-size: 20px;
                font-weight: 400px;
                @media only screen and (max-width: 575px) {
                    font-size: 16px;
                }
            }
        }
        .terms-head-section{
            h1{
                color:#FFF;
                font-size: 50px;
                font-weight: bold;
                @media only screen and (max-width: 575px) {
                    font-size: 37px;
                }
            }
            p{
                color: #FFF;
                font-size: 20px;
                font-weight: 400px;
                @media only screen and (max-width: 575px) {
                    font-size: 16px;
                }
            }
        }
    }
}