.terms-container{
    max-width: 1380px;
     width: 100%;
    .terms-wrapper{
        padding-top:150px ;
        .terms{
            h1{
                color:#FFF;
                font-size: 60px;
                font-weight: bold;
            }
            p{
                color: #FFF;
                font-size: 20px;
                font-weight: 400px;
            }
        }
        .terms-head-section{
            h1{
                color:#FFF;
                font-size: 50px;
                font-weight: bold;
            }
            p{
                color: #FFF;
                font-size: 20px;
                font-weight: 400px;
            }
        }
    }
}