.bussiness_wrapper {
    width: 100%;

    .bussiness_container {
        max-width: 1570px !important;
        width: 100%;

        .bussiness_banner_section {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding-top: 130px;

            .bussiness_banner_left {
                max-width: 648.5px;
                min-height: 712px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }


            }

            .bussiness_banner_right {
               max-width: 760px;
               width: 100%;

                
                p {
                    color: #FFF;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 87.857px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 97.5%;
                    

                }

                h1 {
                    background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: right;
                    font-family: Poppins;
                    font-size: 115px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 89.177%;
                    /* 102.553px */
                }
            }
        }
    }
}