.map-section {
  position: relative;
  z-index: 1;
}
.map-section .leaflet-popup-content-wrapper {
  border-radius: 35px;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  background: rgba(217, 217, 217, 0.03);
  -webkit-backdrop-filter: blur(23.5px);
          backdrop-filter: blur(23.5px);
  width: 551px;
  height: 188px;
  position: relative;
}
@media only screen and (max-width: 1500px) {
  .map-section .leaflet-popup-content-wrapper {
    width: 500px;
  }
}
@media only screen and (max-width: 1300px) {
  .map-section .leaflet-popup-content-wrapper {
    width: 450px;
  }
}
@media only screen and (max-width: 1200px) {
  .map-section .leaflet-popup-content-wrapper {
    width: 400px;
  }
}
.map-section .leaflet-popup-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 100%;
  font-size: 20px;
  margin: 0;
  padding: 20px 40px;
  color: #FFF;
}
.map-section .leaflet-pane {
  position: absolute;
  left: 0px;
  width: 100% !important;
}
@media only screen and (max-width: 1500px) {
  .map-section .leaflet-pane {
    left: -160px;
  }
}
@media only screen and (max-width: 1300px) {
  .map-section .leaflet-pane {
    left: -140px;
  }
}
@media only screen and (max-width: 1200px) {
  .map-section .leaflet-pane {
    left: -120px;
  }
}
@media only screen and (max-width: 992px) {
  .map-section .leaflet-pane {
    left: -100px;
  }
}
.map-section .leaflet-popup-tip {
  background: transparent;
}
.map-section .leaflet-popup {
  bottom: -30px !important;
}
.map-section .leaflet-control-attribution {
  display: none !important;
}
.map-section .leaflet-popup-close-button {
  top: 5px;
  right: 20px;
}

.contact-form {
  max-width: 800px;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.07) 0%, rgba(24, 29, 38, 0) 0.01%, #181D26 78.13%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 0px 30px;
}
@media only screen and (max-width: 1500px) {
  .contact-form {
    max-width: 700px;
  }
}
@media only screen and (max-width: 1300px) {
  .contact-form {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact-form {
    max-width: 500px;
  }
}
@media only screen and (max-width: 992px) {
  .contact-form {
    max-width: 400px;
  }
}
.contact-form .form-wrapper {
  margin-top: 20px;
}
.contact-form .form-wrapper form {
  width: 70%;
}
@media only screen and (max-width: 1400px) {
  .contact-form .form-wrapper form {
    width: 70%;
  }
}
@media only screen and (max-width: 1200px) {
  .contact-form .form-wrapper form {
    width: 100%;
  }
}
.contact-form .form-wrapper .form-label {
  color: #fff !important;
}
.contact-form .form-wrapper .form-control {
  background-color: transparent;
  border-bottom: 1px solid #fff !important;
  border: none;
  border-radius: 0px !important;
  padding: 8px 0px;
  color: white;
}
.contact-form .form-wrapper .form-control:focus {
  box-shadow: none !important;
}
.contact-form .form-wrapper .submit-btn {
  width: 100%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px 40px;
  border-radius: 50px;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
}
@media only screen and (max-width: 1200px) {
  .contact-form .form-wrapper .submit-btn {
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 767px) {
  .contact-form .form-wrapper .submit-btn {
    justify-content: center !important;
    width: 100%;
    gap: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact-form .form-wrapper .submit-btn .form-btn-arrow {
    width: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .contact-form .form-wrapper .submit-btn .form-btn-arrow {
    display: none;
  }
}
.contact-form .form-wrapper .submit-btn p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
}
.contact-form .form-text h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  margin: 0;
}/*# sourceMappingURL=contact.css.map */