.solutions-wrapper {

    background: linear-gradient(180deg, rgba(24, 29, 38, 1) 0%, rgba(56, 68, 90, 1) 27%, rgba(24, 29, 38, 1) 100%);

    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../assets/solutionbg.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;

        @media only screen and (max-width: 992px) {
            z-index: -1;
        }



    }

    .custom-container-solution {


        max-width: 1420px !important;
        margin: auto;
        margin-top: 50px;


        .building-section {

            background-image: url("../../assets/buildinbg.png");
            background-repeat: no-repeat;
            z-index: 999;
            width: 100%;
            border-radius: 35px;
            max-height: 769px;
            background-position: center;
            background-size: 100% 100%;

            @media only screen and (max-width: 992px) {
                width: 100%;
            }

            @media only screen and (max-width: 575px) {
                min-height: 210px;
            }

            .building-section-middle {



                @media only screen and (max-width: 575px) {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

                .building-section-middle-col1 {
                    h1 {
                        color: #FFF;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 65px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;

                        @media only screen and (max-width: 575px) {
                            font-size: 45px;
                        }
                    }

                    p {
                        color: #FFF;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 26.176px;
                        font-style: normal;
                        font-weight: 275;
                        line-height: 117.6%;
                        text-transform: capitalize;

                        @media only screen and (max-width: 575px) {
                            font-size: 20px;
                        }
                    }
                }
            }

        }

        .year-section-parent {
            z-index: 999;
            width: 60%;

            @media only screen and (max-width: 992px) {
                width: 100%;
            }

            .year-section {

                height: 377px;
                display: flex;
                gap: 15px;

                @media only screen and (max-width: 575px) {
                    margin-top: 10px;
                }

                .year-section-left {
                    position: relative;
                    // width: 409px;
                    width: 50%;
                    min-height: 377px;
                    // background-image: url("../../assets/Aboutimg.png");
                    // background-repeat: no-repeat;
                    border-radius: 35px;
                    background: linear-gradient(0deg, rgba(39, 48, 63, 0.80) 0%, rgba(39, 48, 63, 0.80) 100%), url("../../assets/Aboutimg.png"), lightgray -7.633px 0px / 138.298% 100% no-repeat;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding: 30px 20px;

                    .arrow-image {
                        transition: opacity 0.3s ease-in-out;
                        width: 63px;
                        height: 63px;
                        position: absolute;
                        bottom: 32px;
                        right: 30px;

                        &:hover {
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
                    .hover-container {
                        display: inline-block;


                        .hover-icon {
                            transition: opacity 0.3s ease-in-out;
                            width: 63px;
                            height: 63px;
                            position: absolute;
                            bottom: 32px;
                            right: 30px;
                        }

                        .hover-icon {
                            font-size: 35px;
                            color: #F36A24;
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            opacity: 0;
                            display: none;
                            background-image: url("../../assets/img-hover.png");
                            transition: opacity 0.3s ease-in-out;
                            height: 377px;
                            width: 100%;
                            background-position: center;
                            background-size: cover;
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            border-radius: 35px;

                            &:hover {
                                opacity: 1;
                                height: 100%;
                                width: 100%;
                                color: #C74300 !important;
                                display: block;
                            }

                        }

                        // &:hover {
                        //     .arrow-image {

                        //     }

                        //     .hover-icon {


                        //     }
                        // }
                    }


                    h3 {
                        @media only screen and (max-width: 575px) {
                            position: absolute;
                            top: 0;
                            font-size: 20px;

                        }

                        color: #FFF;
                        font-family: Poppins;
                        font-size: 39px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 56px;
                        /* 143.59% */
                        text-transform: capitalize;
                        z-index: 2;
                    }

                    img {

                        @media only screen and (max-width: 575px) {
                            position: absolute;
                            right: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }

                }

                .year-section-right {
                    position: relative;
                    width: 50%;
                    min-height: 377px;
                    border-radius: 35px;
                    background: linear-gradient(0deg, rgba(39, 48, 63, 0.80) 0%, rgba(39, 48, 63, 0.80) 100%), url("../../assets/itImage.png"), lightgray -7.633px 0px / 138.298% 100% no-repeat;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding: 30px 20px;
                    .arrow-image {
                        transition: opacity 0.3s ease-in-out;
                        width: 63px;
                        height: 63px;
                        position: absolute;
                        bottom: 32px;
                        right: 30px;
                        display: block;
                        &:hover {
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                            display: none;
                        }
                    }
                    .hover-container {
                        display: inline-block;


                        .hover-icon {
                            transition: opacity 0.3s ease-in-out;
                            width: 63px;
                            height: 63px;
                            position: absolute;
                            bottom: 32px;
                            right: 30px;
                        }

                        .hover-icon {
                            font-size: 35px;
                            color: #F36A24;
                            position: absolute;
                            right: 0px;
                            bottom: 0px;
                            opacity: 0;
                            display: none;
                            background-image: url("../../assets/thumb-hover.png");
                            transition: opacity 0.3s ease-in-out;
                            height: 377px;
                            width: 100%;
                            background-position: center;
                            background-size: cover;
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            border-radius: 35px;

                            &:hover {
                                opacity: 1;
                                height: 100%;
                                width: 100%;
                                color: #C74300 !important;
                                display: block;
                            }

                        }

                        // &:hover {
                        //     .arrow-image {

                        //     }

                        //     .hover-icon {


                        //     }
                        // }
                    }

                    h3 {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 39px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 56px;
                        /* 143.59% */
                        text-transform: capitalize; 
                        z-index: 2;
                        @media only screen and (max-width: 575px) {
                            position: absolute;
                            top: 0;
                            font-size: 20px;
                        }
                    }

                    img {

                        @media only screen and (max-width: 575px) {
                            position: absolute;
                            right: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }


            }

            .progress-div {
                .progress-div-box {
                    width: 197px;
                    min-width: 135px;
                    min-height: 377px;
                    border-radius: 35px;


                    // background: linear-gradient(156deg, #F36A24 14.61%, #9B3400 86.76%);

                    &:nth-child(1) {

                        background-image: url("../../assets/box1.png");
                        background-size: 100% 100%;

                        @media only screen and (max-width: 575px) {
                            display: none;
                        }

                    }

                    &:nth-child(2) {

                        background-image: url("../../assets//box2.png");
                        background-size: 100% 100%;

                        @media only screen and (max-width: 575px) {
                            display: none;
                        }
                    }

                    &:nth-child(3) {

                        background-image: url("../../assets//box3.png");
                        background-size: 100% 100%;

                        @media only screen and (max-width: 575px) {
                            display: none;
                        }
                    }

                    &:nth-child(4) {

                        background-image: url("../../assets//box4.png");
                        background-size: 100% 100%;
                        background-repeat: no-repeat;

                        @media only screen and (max-width: 575px) {
                            width: 100%;
                        }

                    }

                    h1 {
                        color: #FFF;

                        font-family: Poppins;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    h3 {
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }

                    p {
                        width: 60%;
                        margin: auto;
                        color: #FFF;
                        text-align: center;
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 275;
                        line-height: normal;
                    }

                }
            }
        }
    }


    .solution-text-wrapper {
        max-width: 1046px;
        position: relative;
        margin: auto;

        position: relative;
        z-index: 1;

        @media only screen and (max-width: 768px) {
            display: none;
        }

        .solution-text-wrapper-bg {}

        .solution-text-heading {
            display: flex;
            justify-content: center;
            overflow: visible;
            padding: 0px 100px;
            background-image: url("../../assets/round.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            right: 0;
            width: 500px;
            height: 400px;
            position: relative;
            margin: auto;

            @media only screen and (max-width: 767px) {
                width: 100%;
                height: 100%;
                justify-content: center;

            }

            @media only screen and (max-width: 500px) {
                padding: 0px 0px;

            }

            .media-query-flex {
                display: flex;
                justify-content: start;
                position: relative;

            }

            .media-query-circle {
                display: none;

                @media only screen and (max-width: 768px) {
                    display: block;

                    img {
                        width: 202px;
                        height: 202px;
                    }

                }

            }

            @media only screen and (max-width: 768px) {
                display: block;
                background-image: none;
            }


            h1 {
                color: #FFF;
                font-family: Poppins;
                font-size: 118px;
                font-style: normal;
                font-weight: 800;
                line-height: 101.5px;

                text-transform: capitalize;
                text-align: center;
                overflow: visible;

                @media only screen and (max-width: 992px) {
                    font-size: 65px;
                    line-height: 70.5px;
                    margin-top: 30px;
                }

                @media only screen and (max-width: 768px) {
                    margin-top: 0px;

                }

            }

            .circle-arrow {
                position: relative;
                min-width: 359px;
                height: 359px;
                border-radius: 359px;
                background: linear-gradient(180deg, #F36A24 0%, #C74300 107.94%);
                box-shadow: -32px -3px 20px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                justify-content: center;
                margin: 0 auto;
                flex-direction: column;
                overflow: display;

                @media only screen and (max-width: 768px) {
                    min-width: 169px;
                    height: 169px;
                    margin-left: -69px;

                }

                p {
                    color: #FFF;
                    font-family: Avenir Next Condensed;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 93.6%;
                    /* 9.36px */
                    letter-spacing: 2.25px;
                    text-transform: uppercase;
                    margin-left: 70px;

                    @media only screen and (max-width: 769px) {

                        margin-left: -20px;

                    }
                }

                .overflow-blur {
                    border-radius: 0px 0px 700px 700px;
                    background: rgba(217, 217, 217, 0.02);
                    backdrop-filter: blur(14.5px);
                    width: 452px;
                    height: 231px;
                    position: absolute;
                    left: 40px;
                    transform: rotate(-90deg);
                    overflow: hidden;

                    @media only screen and (max-width: 769px) {
                        width: 202px;
                        height: 103px;

                    }
                }

                img {
                    max-width: 223px;
                    z-index: 1;
                    margin: 0 auto;
                    padding-top: 60px;

                    @media only screen and (max-width: 768px) {
                        max-width: 90px;
                        padding-top: 116px;
                        margin-left: -20px;

                    }

                }

            }
        }

    }


}