.slick-arrow {

  display: none !important;
}

.slick-dots li button {
  font-size: 30px !important;
}

.slick-dots li button:before {
  color: #ffff !important;
  font-size: 20px !important;
  // opacity: none !important;  
  position: absolute;
  top: 30px;

  @media screen and (min-width:1400px) {
    left: -340px;
  }
}

// .slick-dots li button{
//   background-color: #ffff !important;
// font-size: 20px !important;


// }
.slick-dots li.slick-active button:before {
  color: orangered !important;
  font-size: 20px !important;
}


.slider-bg {
  // padding: 100px 0px;
min-height: 1000px;
      .slick-dots{
        li{
          button{
            &::before{
              opacity: 1 !important;
            }
          }
        }
      }
    
      @media screen and (max-width:575px) {
        min-height: 500px;
    
        }
  @media screen and (max-width:768px) {
    padding: 60px 0px;

    }
  .slider-width{
    width: 59%;
    @media screen and (max-width:1400px) {
     width: 73%;

     }
     @media screen and (max-width:1024px) {
      width: 94%;
 
      }
     
  }
  .your-item {
    margin-left: 66%;
    margin-top: 100px;

    @media screen and (max-width:1024px) {
      margin-left: 46%;   
      
    }
    @media screen and (max-width:575px) {
      margin-top: 60px;
    }

    .slider-content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 481px;
      padding: 20px 50px;
      width: 90% !important;
      margin: 0 auto ;
      border: 1px solid black;
      border-radius: 35px;
      background: linear-gradient(0deg, rgba(39, 48, 63, 0.85) 0%, rgba(39, 48, 63, 0.85) 100%);
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s ease;
     
      @media screen and (max-width:575px) {
        height:269px ;
        padding: 20px 10px;
      }

      .slider-content-top {
        h3 {
          color: #FFF;
          font-family: Poppins;
          font-size: 25px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width:575px) {
            font-size: 12px;
          }
        }

        p {
          color: #FFF;
          font-family: Poppins;
          font-size: 25px;
          font-style: normal;
          font-weight: 275;
          line-height: normal;
          @media screen and (max-width:575px) {
            font-size: 20px;
          }
        }
      }

      .slider-content-bottom {
        display: none;



      }
    }

    &.active {

      margin-top: 0;

      .slider-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100% !important;
        height: 674px;
        padding: 20px 50px;
        border-radius: 35px;
        // border: 1px solid rgba(255, 132, 69, 0.00);
        // background: linear-gradient(180deg, rgba(243, 106, 36, 0.00) 0%, rgba(243, 106, 36, 0.80) 45.83%, rgba(0, 0, 0, 0.80) 100%), url('../../assets/card.png'), lightgray -786.457px -122px / 285.415% 130.476% no-repeat;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width:575px) {
        max-height:420px ;
        padding: 20px 10px;
      }
       
        .slider-content-top {
          h3 {
            color: #FFF;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @media screen and (max-width:575px) {
             font-size: 12px;;
            }
          }

          p {
            color: #FFF;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 200;
            line-height: normal;
          }
          @media screen and (max-width:575px) {
            font-size: 14px;;
           }
        }

        .slider-content-bottom {
          display: block;

          h1 {
            width: 30px;
            color: #FFF;
            font-family: Poppins;
            font-size: 65px;
            font-style: normal;
            font-weight: 700;
            line-height: 58px;
            @media screen and (max-width:575px) {
              font-size: 14px !important;
              line-height: 20px;
             }

            /* 89.231% */
            @media screen and (max-width:768px) {
              font-size: 50px;
            }

            /* Adjust font size for large screens (lg) and larger */
            @media screen and (max-width:992px) {
              font-size: 40px;
            }

            /* Adjust font size for extra-large screens (xl) and larger */
            @media screen and (max-width:1200px) {
              font-size: 35px;
            }
          }

          .bottom-line {
            max-width: 406px;
            height: 3px;
            background: #FFF;
            margin: 50px 0px;
            outline: none;
            @media screen and (max-width:575px) {
              margin: 14px 0px;
             }

          }

          button {
            border-radius: 28px;
            border: 1px solid #FFF;

            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #FFF;
            background: transparent;
            padding: 10px 30px;
            @media screen and (max-width:575px) {
              padding: 10px 23px;
              font-size: 12px;

             }
          }
        }
      }

    }
  }
}



.above-text-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 1024px;
  margin: 10px auto;

  .carousel-item {
    margin: 0 10px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    cursor: pointer;
    list-style: none;  // Remove default list styles
    
    @media screen and (max-width:575px) {
     
      font-size: 14px;

     }

    #middle {
      
    }
  }

  .carousel-list {
    display: flex;
    padding: 0;
    color: #FFF;

    .carousel-item {
      position: relative;

      &::before {
        content: '•';  // Bullet point
        margin-right: 5px;
      }

      &:first-child::before {
        content: '';  // Remove bullet point for the first item
      }
    }
  }
}




