
.slick-arrow{

   display: none !important;
}


 .your-item {
      padding: 10px;
      border: 1px solid black;
  
        margin-left: -27%;
  
      &.active {
        border-color: red; // Change the color for the active item
      }
    }
  