.caseStudy-Section {
    width: 100%;
    position: relative;
    background: #181D26;
    padding-top: 88px;


    &::after {
        content: "";
        width: 409px;
        height: 912px;
        border-radius: 32.41px;
        background: linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%);
        position: absolute;
        right: 0;
        top: 84px;
        z-index: 1;

        @media only screen and (max-width: 992px) {
            width: 300px;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }


    }

    .section-container {
        max-width: 1587px !important;
        width: 100%;
        min-height: 1027px;

        .case-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media only screen and (max-width: 1024px) {
                gap: 22px;

            }

            @media only screen and (max-width: 768px) {
                flex-direction: column;

            }

            .case-left {
                width: 60%;
                margin: auto;

                @media only screen and (max-width: 1300px) {
                    width: 50%;

                }

                @media only screen and (max-width: 768px) {
                    width: 100%;

                }

                .case-left-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 891px;
                    width: 100%;

                    h1 {
                        color: #FFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 120px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 89.177%;

                        /* 107.012px */
                        @media only screen and (max-width: 1300px) {
                            .case-right {
                                width: 50%;
                            }

                            @media only screen and (max-width: 920px) {
                                font-size: 60px;
                            }

                            @media only screen and (max-width: 425px) {
                                font-size: 72px;
                            }
                        }
                    }

                    h2 {
                        font-family: "Poppins", sans-serif;
                        font-size: 45px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 97.5%;
                        /* 43.875px */
                        background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-bottom: 60px;

                    }

                    p {
                        color: #FFF;
                        font-family: "Poppins", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 275;
                        line-height: 25px;
                        max-width: 729px;
                    }

                    .case-button {
                        margin-top: 73px;

                        @media only screen and (max-width: 920px) {
                            margin-top: 20px;
                        }

                        button {
                            border-radius: 62px;
                            border: 1px solid #FFF;
                            color: #ffffff;
                            padding: 19px 86px;
                            text-align: center;
                            font-family: "Poppins", sans-serif;
                            // font-size: 16px;
                            font-size: clamp(12px, 2.5vw, 16px);
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            transition: all 0.3s ease;

                            &:hover {
                                background: white;
                                color: #F36A24;
                            }
                        }
                    }
                }


            }

            .case-right {
                width: 40%;
                max-height: 900px;

                @media only screen and (max-width: 1300px) {
                    width: 50%;
                }

                @media only screen and (max-width: 768px) {
                    width: 100%;

                }

                @media only screen and (max-width: 340px) {
                    max-height: 800px;

                }

                position: relative;
                z-index: 2;
                display: flex;
                justify-content: end;
                top: 50px;

                @media only screen and (max-width: 768px) {
                    justify-content: center;
                    top: 0px;
                    padding-bottom: 20px;

                }


                .case-right-content {
                    padding: 48px 37px 45px 45px;
                    width: 543px;
                    max-width: 543px;
                    width: 100%;
                    height: 808px;
                    border-radius: 20px;
                    background: #FFF;

                    @media only screen and (max-width: 425px) {
                        padding: 10px;
                    }

                    .custom-select {
                        max-width: 458px;
                        position: relative;
                        margin: auto;
                        width: 100%;

                        &::after {
                            content: "";
                            background: url("../../assets/caseStudy/Vector\ \(14\).png");
                            width: 28px;
                            height: 28px;
                            position: absolute;
                            right: 10px;
                            top: 34px;
                            pointer-events: none;

                            @media only screen and (min-width: 769px) {
                                top: 39px;
                            }
                        }

                        font-family: "Poppins",
                        sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;

                        label {
                            color: #27303F;
                            font-family: "Poppins", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 28.25px;

                            /* 176.563% */
                        }

                        select {
                            appearance: none;
                            /* safari */
                            -webkit-appearance: none;
                            /* other styles for aesthetics */
                            max-width: 458px !important;
                            width: 100%;
                            font-size: 1.15rem;
                            font-family: "Poppins", sans-serif;
                            padding: 0.675em 6em 0.675em 1em;
                            border-radius: 55px;
                            border: 1px solid #EEEEF0;
                            background: #EEEEF0;

                            @media only screen and (max-width: 768px) {
                                font-size: 14px;
                            }
                        }
                    }

                    .Budget-Range {
                        padding: 96px 0px 24px 0px;
                        img {
                            width: 454px;
                            max-width: 454px;
                            width: 100%;
                            height: 124px;
                            flex-shrink: 0;
                        }
                    }

                    .price-button {

                        .min-button,
                        .max-button {
                            h6 {
                                color: #27303F;
                                font-family: "Poppins", sans-serif;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 300;
                            }

                            button {
                                width: 218px;
                                max-width: 218px;
                                height: 56px;
                                border-radius: 55px;
                                border: 0.5px solid #EEEEF0;
                                color: #27303F;
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 28.25px;

                                &:hover {
                                    border: 0.5px solid #F36A24;
                                    color: #F36A24;
                                }

                                @media only screen and (max-width: 1200px) {
                                    width: 190px;
                                }

                                @media only screen and (max-width: 992px) {
                                    width: 120px;
                                    height: 50px;
                                }
                            }
                        }
                    }

                    .ProjectDuration {
                        padding: 95px 0px 76px 0px;

                        .Duration {
                            .project {
                                h5 {
                                    color: #27303F;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 28.25px;
                                }
                            }

                            .Avg {
                                h5 {
                                    color: #27303F;
                                    text-align: right;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 28.25px;
                                }
                            }
                        }

                        .duration-button {
                            .weeks {
                                button {
                                    border-radius: 55px;
                                    border: 0.5px solid #EEEEF0;
                                    width: 140px;
                                    height: 56px;
                                    color: #27303F;
                                    font-family: "Poppins", sans-serif;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 28.25px;

                                    &:hover {
                                        background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                                        color: #FFF;
                                    }

                                    @media only screen and (max-width: 1200px) {
                                        width: 120px;
                                    }

                                    @media only screen and (max-width: 992px) {
                                        width: 85px;
                                        height: 40px;
                                    }
                                }
                            }
                        }
                    }

                    .case-right-button {

                        .clear,
                        .apply {
                            button {
                                border-radius: 55px;
                                border: 0.5px solid #F36A24;
                                width: 214px;
                                height: 56px;
                                color: #F36A24;
                                font-family: "Poppins", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 28.25px;

                                &:hover {

                                    color: #FFF !important;
                                    font-weight: 700;
                                    background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                                    border-radius: 55px;
                                }

                                @media only screen and (max-width: 1200px) {
                                    width: 190px;
                                }

                                @media only screen and (max-width: 992px) {
                                    width: 120px;
                                    height: 40px;
                                }

                                @media only screen and (max-width: 425px) {
                                    width: 120px;
                                    height: 40px;
                                }
                            }
                        }

                    }

                }
            }

        }
    }

}