.button{
    max-width: 334px;
    width: 100%;
    button{
        border-radius: 12px;
background: transparent;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-radius: 62px;
border: 1px solid #FFF;
width: 100%;
padding: 10px 0px;
    &:hover{
        transition: all 0.4s linear;
        color: #F36A24;
        background: #FFF;
    }

    }
}