.add-section {
   
    width: 100%;
    min-height: 1343px;
    background: url('../../assets//Addvertizement/bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media only screen and (max-width: 768px) {
        // min-height: 1100px;
        background: url('../../assets//Addvertizement/mobileBg.png');
        background-position: inherit;
        background-size: cover;
        background-repeat: no-repeat;
      
         
     }
     @media only screen and (max-width: 642px) {
        // min-height: 1100px;
        background: url('../../assets//Addvertizement/mobileBg.png');
        background-position: inherit;
        background-size: contain;
        background-repeat: no-repeat;
      
         
     }



    .arrow-img {
        position: absolute;
        background: url('../../assets//Addvertizement/arrow.png');
        max-width: 426px;
        width: 100%;
        min-height: 1000.397px;
        top: 50%; 
        left: 43%;
        right: 50%;
        background-position: 100% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 44;
        @media only screen and (max-width: 992px) {
            min-height: 409.397px;
            top: 68%;
            left: 25%;
            right: 50%;
            
        }
        @media only screen and (max-width: 768px) {
           display: none;
            
        }

    }

    .add-content-section {

        max-width: 950px;
        width: 100%;
        margin: 0 auto;
        height: 120vh;
        padding-top: 270px;

    .add-section-text {

            h1 {
                background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                font-family: Poppins;
                font-size: 148.85px;
                font-style: normal;
                font-weight: 700;
                line-height: 89.177%;

                @media only screen and (max-width: 768px) {
                    font-size: 83.129px;
        
                }

                span {
                    background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Poppins;
                    font-size: 81.809px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 89.177%;
                    
                }
            }

            h2 {
                background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Poppins;
                font-size: 81.809px;
                font-style: normal;
                font-weight: 700;
                line-height: 125.177%;
                text-align: center;
                @media only screen and (max-width: 768px) {
                    font-size: 45.688px;
                    line-height: 89.177%
                }

            }

            h3 {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding-top: 70px;
                padding-bottom: 34px;
                @media only screen and (max-width: 768px) {
                    font-size: 28px;
        
                }
            }

            p {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 25px;
                @media only screen and (max-width: 992px) {
                  padding: 0px 50px;
                   
                }

            }
        }

    }
}

.add-section2 {
    background: linear-gradient(150deg, #27303F 0%, rgba(39, 48, 63, 0.00) 100%);
    width: 100%;
    min-height: 920px;
    position: relative;

    &::before {
        content: '';
        background: url('../../assets//Addvertizement/Hock.png');
        position: absolute;
        height: 350px;
        width: 230px;
        background-position: center;
        bottom: 92%;
        left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        @media only screen and (max-width: 768px) {
            width: 80px;
            height: 138px;
            bottom: 123%;
           
        }
    }

    .add-section2-wrapper {
        max-width: 1510px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        min-height: 920px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 0px 12px;


        @media only screen and (max-width: 992px) {
            flex-direction: column-reverse;

        }

        .section2-left {
            // max-width: 744px;
            width: 55%;

            @media only screen and (max-width: 992px) {

                width: 100%;
            }

            .section2-text {
                max-width: 744px;
                max-width: 100%;
                flex-direction: column;
                justify-content: start;

                @media only screen and (max-width: 992px) {

                    max-width: 100%;
                }

                h2 {
                    background: rgba(39, 48, 63, 0.01);
                    filter: blur(4.207316875457764px);
                    color: #FFF;
                    font-family: 'Poppins', sans-serif;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 90.5%;
                    letter-spacing: 1.2px;
                    margin: 0;

                    @media only screen and (max-width: 992px) {

                        text-align: center;
                    }
                   
                    @media only screen and (max-width: 768px) {

                        font-size: 49.51px;
                    }

                }

                h1 {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 120px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 90.5%;
                    letter-spacing: 1.8px;

                    @media only screen and (max-width: 992px) {

                        text-align: center;
                    }
                    @media only screen and (max-width: 768px) {

                        font-size: 100px;
                    }
                    @media only screen and (max-width: 768px) {

                        font-size: 61.508px;
                    }

                    @media only screen and (max-width: 427px) {

                        font-size: 50.508px;
                    }


                }

                p {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 25px;
                    padding-top: 70px;

                    @media only screen and (max-width: 992px) {
                        padding-top: 40px;
                        text-align: center;
                        padding-bottom: 40px;
                    }
                    @media only screen and (max-width: 575px) {
                        font-size: 14px;
                        padding-bottom: 40px;
                    }
                }
            }

            .timeline {
                max-width: 744px;
                width: 100%;
                height: 1px;
                position: relative;
                background-color: #ffffff;
                margin-top: 56px;

                @media only screen and (max-width: 1600px) {
                    margin: 46px 46px 0px 46px;

                }

                @media only screen and (max-width: 992px) {
                    margin: 0 auto;
                }

                @media only screen and (max-width: 850px) {
                    max-width: 650px;

                }

                @media only screen and (max-width: 734px) {
                    max-width: 600px;

                }

                @media only screen and (max-width: 674px) {
                    display: none;

                }

                .inner_timeline {
                    max-width: 744px;
                    width: 100%;
                    height: 1px;
                    background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                    animation: pulseAnimation 7s linear infinite;


                }

                @keyframes pulseAnimation {
                    0% {
                        width: 20%;
                    }

                    20% {
                        width: 40%;

                    }

                    40% {
                        width: 60%;

                    }

                    60% {
                        width: 80%;

                    }

                    80% {
                        width: 100%;

                    }

                    100% {
                        width: 100%;

                    }


                }

                .events {
                    ol {
                        display: flex;
                        padding-left: 0;
                        padding-top: 30px;

                        li {
                            position: relative;
                            color: white;
                            list-style: none;
                            width: 40%;
                            margin: 0 auto;

                            &:first-child {
                                transform: translateX(-50%);
                            }

                            &:last-child {
                                transform: translateX(50%);
                            }

                            &:nth-child(2) {
                                transform: translateX(-25%);
                            }

                            &:nth-child(3) {
                                transform: translateX(-12%);
                            }

                            &:nth-child(5) {
                                transform: translateX(12%);
                            }

                            &:nth-child(6) {
                                transform: translateX(25%);
                            }

                            &.selected {

                                &::before {
                                    content: '';
                                    background: url('../../assets//Addvertizement//selected.png');
                                    position: absolute;
                                    height: 30px;
                                    width: 16px;
                                    background-position: center;
                                    bottom: 100%;
                                    left: 50%;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    transform: translateX(-50%);
                                }
                            }


                            p {
                                text-align: center;
                                width: 93%;
                                color: #FFF;
                                text-align: center;
                                font-family: Poppins;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 111%;

                                @media only screen and (max-width: 1600px) {
                                    font-size: 13px;
                                    width: 93%;

                                }

                                @media only screen and (max-width: 768px) {
                                    font-size: 11px;


                                }

                            }

                            &::before {
                                content: '';
                                background: url('../../assets//Addvertizement//Line.png');
                                position: absolute;
                                height: 30px;
                                width: 6px;
                                background-position: cover;
                                bottom: 100%;
                                left: 50%;
                                background-repeat: no-repeat;
                                background-size: cover;
                                transform: translateX(-50%);

                                &:last-child {
                                    width: 0;
                                }

                            }

                            &::after {}



                        }

                    }

                }
            }

            .section2-btn-section {

                max-width: 737px;
                margin: 0 auto;
                width: 100%;
                padding-top: 180px;
                padding-right: 57px;

                @media only screen and (max-width: 992px) {
                    padding-top: 130px;
                    padding-right: 0px;
                }
                @media only screen and (max-width: 672px) {
                    padding-top: 5px;
                    padding-right: 0px;
                }



                .section-btn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    gap: 15px;

                    button {
                        max-width: 176px;
                        width: 100%;
                        height: 56px;
                        border-radius: 62px;
                        background: transparent;

                        border: 1px solid #FFF;
                        outline: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:first-child {
                            border: 1px solid transparent;
                            background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
                        }
                    }
                }

            }

        }

        .section2-right {
            // max-width: 746px;
           
            
            width: 100%;
                max-width: 901px;
                min-height: 901px;
                margin-top: -130px;
                background-repeat: no-repeat;
                background-size: 104% 100%;
                background-position: right 133% center;
            @media only screen and (max-width: 992px) {
                min-height: 700px;
                    background-position: bottom;
                    background-size: 100% 100%;
                  
            }

            @media only screen and (max-width: 575px) {
                background-size: 120% 100%;
                margin-top: -78%;
               
            }

            // .section-right-img {
                
            //         // img{
                      
            //         //     width: 100%;
            //         //     height: 100%;
            //         // }
            //     @media only screen and (max-width: 1600px) {
            //         background-size: contain;

            //     }

            //     @media only screen and (max-width: 992px) {
            //         min-height: 500px;
            //         background-position: center;
            //         background-size: 100% 100%;
            //     }

            // }

        }

    }

}