.privacy_container{
     
    .privacy_wrapper{
        padding-top: 150px;
        h1{
            color:#FFF;
            font-size: 100px;
            font-weight: bold;
        }
        p{
            color: #FFF;
            font-weight: 300;
            font-size: 20px;
            margin-top: 40px;

        }
    }
    .Information{
        h1{
            color:#FFF;
            font-size: 40px;
            font-weight: bold;
        }
       .personel-info{
        h1{
            color:#FFF;
            font-size: 40px;
            font-weight: bold;
        }
        
          
            li{
                color: #FFF;
            }
        
        
       }
    }
    .your_info{
        h1{
            color:#FFF;
            font-size: 50px;
            font-weight: bold;
        }
        .personel-info{
            h1{
                color:#FFF;
                font-size: 40px;
                font-weight: bold;
            }
            
              
                li{
                    color: #FFF;
                }
            
            
           }
    }
    .information_sharing{
        h1{
            color:#FFF;
            font-size: 50px;
            font-weight: bold;
        }
        p{
            color:#FFF;
            font-size: 20px;
            font-weight: 400;
        }
    }
}