.seo-banner-section {
  position: relative;
  width: 100%;
  min-height: 1000px;
  height: 120vh;
  overflow: hidden;
}
.seo-banner-section::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 154, 103, 0) -48.63%, #F36A24 53.13%);
  border-radius: 1193px;
  filter: blur(285.5px);
  max-width: 1193px;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  opacity: 0.27;
  top: 30%;
  bottom: 50%;
  left: 0;
  display: flex;
  align-items: center;
  z-index: -1;
}
.seo-banner-section:before {
  content: "";
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../../../../assets/seo/cloud.png") bottom/120% 90% no-repeat;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 575px) {
  .seo-banner-section:before {
    background-position: center left 38%;
    background-size: 607% 131%;
  }
}
@media screen and (max-width: 575px) {
  .seo-banner-section:before {
    top: 70px;
  }
}
.seo-banner-section .seo-banner-rocket {
  position: absolute;
  bottom: -100px;
  left: 31%;
  transform: translateX(-50%);
  animation: rocketAnimation 10s linear infinite;
  z-index: -1;
}
@media screen and (max-width: 575px) {
  .seo-banner-section .seo-banner-rocket {
    left: 49%;
  }
}
@keyframes rocketAnimation {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-100vh);
  }
}
.seo-banner-section .seo-banner-text {
  padding-left: 21%;
  padding-top: 150px;
}
@media only screen and (max-width: 768px) {
  .seo-banner-section .seo-banner-text {
    padding-left: 0;
  }
}
.seo-banner-section .seo-banner-text h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 216.264px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  background: var(--Classic-Orange-Fill, linear-gradient(155deg, #F36A24 15.87%, #8C3305 101.33%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  .seo-banner-section .seo-banner-text h1 {
    font-size: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .seo-banner-section .seo-banner-text h1 {
    font-size: 167.463px;
  }
}
@media only screen and (max-width: 768px) {
  .seo-banner-section .seo-banner-text h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 420px) {
  .seo-banner-section .seo-banner-text h1 {
    font-size: 150.463px;
  }
}
.seo-banner-section .seo-banner-text p {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 28.625px;
  font-style: normal;
  font-weight: 700;
  line-height: 89.177%;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  .seo-banner-section .seo-banner-text p {
    font-size: 22.166px;
  }
}
@media only screen and (max-width: 768px) {
  .seo-banner-section .seo-banner-text p {
    text-align: center;
  }
}
@media only screen and (max-width: 420px) {
  .seo-banner-section .seo-banner-text p {
    font-size: 20.625px;
  }
}

.seo-bottom-cloud {
  position: relative;
  z-index: 1;
  min-height: 1460px;
  height: 100%;
}
.seo-bottom-cloud .dark-text-center {
  background: #171C24;
  width: 100%;
  position: relative;
}
.seo-bottom-cloud .dark-text-center p {
  max-width: 600px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 156.25% */
  margin: 0 auto;
}
.seo-bottom-cloud .cloud-bottom-bg {
  background: url("../../../../assets//seo//bottomCloud.png");
  width: 100;
  min-height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -150px;
  z-index: -1;
}
@media only screen and (max-width: 575px) {
  .seo-bottom-cloud .cloud-bottom-bg {
    background-position: left 39% center;
    background-size: 490% 103%;
  }
}

.seo-works-btn-section {
  position: absolute;
  width: 100%;
  min-height: 900px;
  bottom: 0;
  padding-bottom: 25px;
}
@media only screen and (max-width: 800px) {
  .seo-works-btn-section {
    bottom: 86px;
  }
}
@media only screen and (max-width: 575px) {
  .seo-works-btn-section {
    min-height: 750px;
  }
}
@media only screen and (max-width: 383px) {
  .seo-works-btn-section {
    bottom: 50px;
  }
}
@media only screen and (max-width: 355px) {
  .seo-works-btn-section {
    bottom: 30px;
  }
}
@media only screen and (max-width: 347px) {
  .seo-works-btn-section {
    bottom: -50px;
  }
}
@media only screen and (max-width: 333px) {
  .seo-works-btn-section {
    bottom: -100px;
  }
}
.seo-works-btn-section::after {
  position: absolute;
  content: "";
  background: linear-gradient(175deg, #161B23 0%, #27303F 100%);
  height: 100%;
  z-index: 0;
}
.seo-works-btn-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/seo/orangebackground.png"), linear-gradient(180deg, transparent 0%, #27303F 100%);
  background-position: bottom;
  background-size: 100% 100%;
}
@media only screen and (max-width: 800px) {
  .seo-works-btn-section::before {
    display: none;
  }
}
.seo-works-btn-section .seo-btn-section {
  position: absolute;
  right: 0;
  bottom: 264px;
  width: 73%;
  z-index: 2;
}
@media only screen and (max-width: 800px) {
  .seo-works-btn-section .seo-btn-section {
    bottom: 0;
    border-radius: 32.41px;
  }
}
.seo-works-btn-section .seo-btn-section .-seo-mobile {
  display: none;
}
@media only screen and (max-width: 800px) {
  .seo-works-btn-section .seo-btn-section .-seo-mobile {
    display: block;
  }
  .seo-works-btn-section .seo-btn-section .-seo-mobile h1 {
    color: #D9D9D9;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 104.177%;
  }
  .seo-works-btn-section .seo-btn-section .-seo-mobile p {
    padding: 0px 100px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14.816px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.928px;
  }
}
@media only screen and (max-width: 800px) and (max-width: 423px) {
  .seo-works-btn-section .seo-btn-section .-seo-mobile p {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 800px) {
  .seo-works-btn-section .seo-btn-section {
    width: 100%;
  }
}
.seo-works-btn-section .seo-btn-section h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5%;
  letter-spacing: 1.8px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .seo-works-btn-section .seo-btn-section h1 {
    font-size: 100px;
  }
}
@media only screen and (max-width: 992px) {
  .seo-works-btn-section .seo-btn-section h1 {
    font-size: 100px;
  }
}
@media only screen and (max-width: 575px) {
  .seo-works-btn-section .seo-btn-section h1 {
    font-size: 61px;
  }
}
.seo-works-btn-section .seo-btn-section h3 {
  filter: blur(3px);
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90.5%;
  letter-spacing: 1.2px;
}
@media only screen and (max-width: 575px) {
  .seo-works-btn-section .seo-btn-section h3 {
    font-size: 61px;
  }
}
.seo-works-btn-section .seo-btn-section .seo-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}
.seo-works-btn-section .seo-btn-section .seo-btn button {
  border-radius: 62px;
  border: 1px solid #FFF;
  background: #FFF;
  outline: none;
  border: none;
  max-width: 288px;
  color: #000;
  min-height: 50px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  cursor: pointer;
}
.seo-works-btn-section .seo-btn-section .seo-btn button:hover {
  border: 1px solid #FFF;
  background: transparent;
  color: white;
  transition: all 0.3s;
}/*# sourceMappingURL=banner.css.map */